.cardAbonnement{
    width: 25%;
    height: 80%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.8em;
    text-align: center;
    // display: grid;
    padding: 1.6em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 300;
        // margin: 0;
    }
    h2{
        margin: 0%;
        color: rgb(57, 139, 191);
        font-weight: 500;
    }
    p{
        margin: 0;
        color: rgb(57, 139, 191);
        font-weight: 500;
    }
    .informationabonnement{
        text-align: left;
        p{
            letter-spacing: 0.8px;
            font-size: 16px;
            font-weight: 300;
            color: rgb(154, 154, 154);
            margin-bottom: 5px;
        }

    }
    .btnabonnement{
        width: 100%;
        height: fit-content;
        .buttonactive{
            height: 45px;
            width: 72%;
            border: none;
            background-color: rgb(57, 139, 191);
            border-radius: 2.4em;
            color: white;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
        }
        .button{
            height: 45px;
            width: 72%;
            border: none;
            background-color: rgb(243, 243, 243);
            border-radius: 2.4em;
            color: rgb(57, 139, 191);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}